_originals_backup/

# Unused raw source images superseded by optimized versions actually used by the site
images/Option One Logo.png
images/favicon-icon.png
images/shop/Cycad.jpg
images/shop/Tiger Lily.png
